
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
  </head>
  <body>
    <div class="">
      <img src="/profilepic/{{name}}.jpg" height="64" width="64" alt="({{name}}'s pic)">
      {{name}}
    </div>
  </body>
</html>
