
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
  </head>
  <body>
    {{#each names}}
      <div class="">
        {{this}}
      </div>
    {{/each}}
  </body>
</html>
